<template>
    <div class="user">
      <Navbar/>
      <router-view name="dashboard"/>
      <router-view name="products"/>
      <router-view name="cart"/>
    </div>
</template>
<script>
import Navbar from './user/components/Navbar.vue'
export default {
  data(){
    return {
      loading: false
    }
  },
  components: { Navbar},
 methods: {
   
 }
}
</script>