<template>
    <div class="container px-5 vh-100 d-flex flex-column align-items-center">
        <div class="col-lg-6 mt-5 pt-3">
            <div class="card mt-5 rounded-3">
                <div class="d-flex flex-row p-5">
                    <div class="p-2"><h4>Total Orders:</h4></div>
                    <div class="p-2 ms-auto"><h4>{{usersummary.order}}</h4></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mt-3">
            <div class="card w-100 p-5">
                <div class="d-flex">
                    <div class="d-flex flex-column me-auto mb-4">
                        <h5>List of your orders</h5>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Total</th>
                            <th scope="col">Payment Method</th>
                            <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody v-for="(order, i) in orders" :key="i">
                            <tr>
                            <td>{{order.store.food_name}}</td>
                            <td>{{order.qty}}</td>
                            <td>{{order.order.total}}</td>
                            <td>{{order.order.payment_method}}</td>
                            <td>{{order.order.created_at | moment}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex'
import moment from 'moment'
export default {
 filters: {
    moment: function (date) {
        return moment(date).format('MMMM D, YYYY, h:mm A');
    }
 },
 async mounted() {
  document.title = "Dashboard"
  await this.$store.dispatch('auth/checkAuthUser')
  await this.$store.dispatch('dashboard/getUserSummary')
  await this.$store.dispatch('dashboard/getUserOrder')
 },
 methods: {

 },
 computed: {
  ...mapState('dashboard', ['usersummary', 'orders'])
 }
}
</script>