<template>
 <div>
  <div class="navigation">
   <div class="d-flex">
    <b-avatar :text="owneraccount.ownerinfo.first_name[0] + owneraccount.ownerinfo.last_name[0]" size="3rem"></b-avatar>
    <div class="d-flex flex-column lh-1 ms-2 justify-content-center">
      <p class="text-dark" v-if="owneraccount">Welcome, {{owneraccount.ownerinfo.first_name}} {{owneraccount.ownerinfo.last_name}}!</p>
      <p class="text-muted" v-if="owneraccount"><small>{{owneraccount.email}}</small></p>
    </div>
   </div>
  </div>
 </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
export default {
  components: {
  },
  async mounted(){
    await this.checkAdminUser()
  },
  computed: {
    ...mapState("auth", ["owneraccount"])
  },
  methods: {
   ...mapActions('auth', ['checkAdminUser'])
  }
}
</script>