<template>
<div id="login-page">
  <div class="container-fluid m-0">
    <div class="row">
      <div id="left-section" class="col-lg-8 col-md-7 d-none d-lg-flex d-md-flex vh-100 px-4 justify-content-start align-items-center">
        <h1 class="text-light fw-bolder ps-2">People who love to eat are always the best people.
          <span><p class="fw-light fs-5 mt-3">- Final Project for IT127L</p></span>
        </h1>
      </div>
      <div id="right-section" class="col-lg-4 col-md-5 col-sm-12 col-xs-12 vh-100 d-flex justify-content-center align-items-center ps-0 ms-0">
        <div class="card w-100 m-3 px-4 pt-5 pb-3">
          <h5 class="text-center text-light fw-light mb-3">Login to your account</h5>
          <div class="card-body">
            <form>
              <div class="form-floating mt-4 mb-3">
                <input v-model="data.email" type="email" class="form-control" id="email" placeholder="email" autocomplete="off" autofocus required>
                <label for="email">Email</label>
              </div>
              <div class="form-floating mb-4">
                <input v-model="data.password" type="password" class="form-control" id="password" placeholder="password" autocomplete="off" required>
                <label for="password">Password</label>
              </div>
              <div class="form-check form-switch ms-3 mb-4">
                <input class="form-check-input" v-model="isOwner" type="checkbox" id="flexSwitchCheckDefault">
                <label class="form-check-label text-light" for="flexSwitchCheckDefault">Stall Owner Account</label>
              </div>
              <div class="d-flex justify-content-end">
                <button v-on:click.prevent="signin" :disabled="loading" id="loginBtn" class="btn text-light">
                <div v-if="loading" class="spinner-border spinner-border-sm" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div v-else>
                  <i class="fas fa-arrow-right fs-5 pt-1 pe-2 arrow1"></i> Sign In
                </div>
                </button>
                </div>
            </form>
            <p class="text-light text-center mt-5">Not a member yet?<span><router-link to="/register" class="text-decoration-none text-primary fw-bold ms-2">Sign up here</router-link></span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
<script>
import { mapActions, mapState } from 'vuex'
export default {
    data(){
    return {
      loading:false,
      isOwner: false,
      data: {
        email: '',
        password: '',
      },
    }
  },
  async mounted(){
    document.title = "Login"
  },
  computed: {
   ...mapState('auth', ['user','useraccount','owneraccount'])
  },
    methods: {
    ...mapActions('auth', ['loginOwnerAccount', 'loginUserAccount']),
    async signin(){ 
        this.loading = true
        if(this.isOwner){
        const res = await this.loginOwnerAccount(this.data)
        if(this.data.email == ''){
          this.$toast.error('Email is required')
          this.loading = false
        }
        else if(this.data.password == ''){
          this.$toast.error('Password is required')
          this.loading = false
        }
        else if(res.status == 200){
          this.$router.push('/owner')
          this.$toast.success('Hi, '+ this.data.email +'!')
          this.loading = false
        }
        else {
          this.$toast.error('Sorry! Your account is invalid.')
          this.loading = false
        }
      } else {
        const res = await this.loginUserAccount(this.data)
        if(this.data.email == ''){
          this.$toast.error('Email is required')
          this.loading = false
        }
        else if(this.data.password == ''){
          this.$toast.error('Password is required')
          this.loading = false
        }
        else if(res.status == 200){
          this.$router.push('/home/dashboard')
          this.$toast.success('Hi, '+ this.data.email +'!')
          this.loading = false
        }
        else {
          this.$toast.error('Sorry! Your account is invalid.')
          this.loading = false
        }
      }

    },
    validEmail(){
      let regEx = /^([a-z0-9_\-.])+@([a-z0-9_\-.])+\.([a-z0-9]{2,})$/gi
      let isEmail = regEx.test(this.data.email)
      return isEmail
    },
    }
}
</script>