<template>
    <div class="">
      <Sidebar/>
      <Navbar/>
      <div class="main-content">
        <router-view name="OwnerDashboard"/>
        <router-view name="orders"/>
        <router-view name="store"/>
      </div>
    </div>
</template>
<script>
import Sidebar from './components/Sidebar.vue'
import Navbar from './components/Navbar.vue'
export default {
  data(){
    return {
      loading: false
    }
  },
  components: {Sidebar, Navbar},
 methods: {
   
 }
}
</script>