<template>
 <div>
  <div class="container">
  <h5>Orders Management</h5>
  <h6 class="text-muted">Manage your orders in this section</h6>
   <div class="row g-0 mt-5">
    <div class="card p-5">
     <div class="d-flex">
      <div class="d-flex flex-column me-auto">
       <h5>Orders List</h5>
       <h6 class="text-muted">Manage your order list easily.</h6>
      </div>
      <div class="d-flex align-items-center me-3">
       
      </div>
     </div>
     <div class="table-responsive mt-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Item</th>
            <th scope="col">Qty</th>
            <th scope="col">Total</th>
            <th scope="col">Payment Method</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, i) in orders" :key="i">
            <th scope="row">{{i + 1}}</th>
            <td>{{item.order.user.userinfo.first_name}} {{item.order.user.userinfo.last_name}}</td>
            <td>{{item.store.food_name}}</td>
            <td>{{item.qty}}</td>
            <td>{{formatCurrency(item.total)}}</td>
            <td>{{item.order.payment_method}}</td>
            <td>{{item.created_at | moment}}</td>
          </tr>
          
        </tbody>
      </table>
     </div>
    </div>
   </div>
  </div>
 </div>
</template>
<script>
import { mapState } from 'vuex'
import moment from 'moment'
export default {
  filters: {
     moment: function (date) {
      return moment(date).format('MMMM DD, YYYY hh:mm A');
    }
  },
  data(){
   return {
    isLoading: false,
   }
  },
  async mounted() {
   document.title = "Orders Section"
   await this.$store.dispatch('auth/checkAdminUser')
   await this.$store.dispatch('orders/getOrders')
  },
  methods: {
   formatCurrency(data){
      var formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'PHP',
      });
      return formatter.format(data);
    },
  },
  computed: {
    ...mapState('orders', ['orders'])
  }
}
</script>