<template>
 <div>
  <div class="row m-0 mt-3">
   <h5>Dashboard</h5>
   <h6 class="text-muted">Displayed here is your summary</h6>
  </div>
  <div class="row m-0 mt-3">
   <div class="col-4">
    <div class="card p-4">
     <div class="row text-center justify-content-center align-items-center">
        <h1>{{summary.prod}}</h1>
        <h5 class="mt-2 text-muted">TOTAL PRODUCTS</h5>
     </div>
    </div>
   </div>
   <div class="col-4">
    <div class="card p-4">
     <div class="row text-center justify-content-center align-items-center">
       <h1>{{summary.order}}</h1>
       <h5 class="mt-2 text-muted">TOTAL ORDERS</h5>
     </div>
    </div>
   </div>

  </div>
 </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
 data(){
  return {

  }
 },
 async mounted() {
  document.title = "Welcome to Dashboard"
  await this.$store.dispatch('auth/checkAdminUser')

  await this.$store.dispatch('dashboard/getSummary')
 },
 methods: {

 },
 computed: {
  ...mapState('dashboard', ['summary'])
 }
}
</script>